button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	background: $color__background-button;
	color: white;
	@include font-size(0.8);
	line-height: 1;
	padding: .6em 1em;
	cursor: pointer;
}
