.site-footer {
    padding: 2em 0;
    background: $color__background-footer;
    text-align: center;
    color: $color__text-footer;
    display: flex;
    flex-direction: column;

    & .widget-area {
        margin: 1em 0;
        max-width: calc(#{$max-width__site} / 2);
    }

    & ul.menu,
    & ul.sub-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    & ul.sub-menu {
        & li {
            font-size: 85%;
        }
    }

    & a {
        color: $color__link-footer;
    }

    & p {
        margin: 0;
    }
}

@media screen and (min-width: 320px) {
    .site-footer {
        flex-direction: row;
        justify-content: center;

        & .widget-area {
            width: 50%;
        }
    }
}