.site-footer {
    padding: 3em 0;
    background: $color__background-footer;
    text-align: center;
    color: $color__text-footer;

    & .widget-area {
        width: 100%;
        max-width: $max-width__site;
    }

    & ul.menu,
    & ul.sub-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    & ul.menu {
        display: flex;
        flex-direction: column;
    }

    & ul.sub-menu {
        & li {
            font-size: 85%;
        }
    }

    & a {
        color: $color__link-footer;
    }

    & p {
        margin: 0;
    }
}

@media screen and (min-width: 320px) {
    .site-footer {
        & ul.menu {
            flex-direction: row;
            justify-content: center;

            & li {
                margin: 0 .5em;
            }
        }
    }
}