// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.site {
    max-width: 1220px;
    padding: 10px;
    margin: auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
