$color__autua-primary: #005468;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__autua-primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: $color__autua-primary;

$color__text-main: #404040;
$color__text-footer: #ddd;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-footer: $color__text-footer;
$color__link-visited: royalblue;
$color__link-hover: royalblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
